*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #f0f2f5;
    color: #5f5f5f;
}

a{
    text-decoration: none;
    color: #5f5f5f;
}

.small-image {
    width: 100px;
    height: 100px;
}
 
.ajuste {
    width: 50px;
    height: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 6px 6%;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


.logo img{
    margin-right: 15px;
    display: block;
    max-width: 50px; /* tamaño del logo */
    height: auto; /* Esto mantiene las proporciones */
}
    

.navbar-center ul li{
    display: inline-block;
    list-style: none;
}


.navbar-center ul li a{
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 5px 8px;
    padding-right: 5px;
    position: relative;
}


.navbar-center ul li a img{ /*tamaño de las imagenes de la interfaz  */
    width: 40px;
    height: auto;
}


.navbar-center ul li a::after {
    content: '';
    width: 0; /* Cambia el ancho inicial a 0 */
    height: 2px;
    background: #f24973;
    position: absolute;
    bottom: -15px;
    transition: width 0.3s; /* Establece la propiedad que se animará */
}
    


.navbar-center ul li a:hover::after, 
.navbar-center ul li a.active-link::after
{
    width: 100%; /* Al pasar el mouse, expande el ancho a 100% */
}
    

.nav-perfil-img{
    width: 30px;
    width: 40px;
    border-radius:  50%;
    display: block;
    cursor: pointer;
    position: relative;
}


.online{
    position: relative;
}


.online::after{ /* Aquí pongo el punto de "online" del usuario*/
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    right: 0px;
    top: 0px;
    background: #41db51;
    position: absolute;
}


.search-small{
    width: 25px;
    height: 25px;
}

.search-box{
    background: #faedf5; /*Color del buscador*/
    width: 250px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.navbar-left{ /*Acá puse de nuevo el logo al lado del buscador*/
    display: flex;
    align-items: center;
}

.search-box img{
    width: 14px;
    height: auto;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 8px;
    outline: none;
    border: 0;
}